[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/h386"]
	path = themes/h386
	url = https://gitlab.com/maxlefou/hugo.386.git