[submodule "themes/fresh"]
	path = themes/fresh
	url = https://github.com/StefMa/hugo-fresh
[submodule "themes/up-business-theme"]
	path = themes/up-business-theme
	url = https://gitlab.com/writeonlyhugo/up-business-theme
